extends ../layouts/main
block styles
    link(rel="stylesheet", href="/css/shop/cart.css")

block content
    if products.length > 0
        .cart
            each product, idx in products
                .cart-item
                    .cart-item-block.product-index
                        h1 #{idx + 1}
                    .vl
                    .cart-item-block.product-image
                        img(src=(product.imageUrl), alt=(product.title))
                    .vl
                    .cart-item-block.product-title
                        h2 #{product.title}
                    .vl
                    .cart-item-block.product-price
                        h2 #{product.cartItem.quantity}
                            span.cross x
                            span $#{product.price}
                    .vl
                    .cart-item-block.product-total-price
                        h2 $#{(product.price * product.cartItem.quantity).toFixed(2)}
                    .vl
                    .cart-item-block.product-actions
                        form(action="/cart/delete", method="POST")
                            input(type="hidden", name="id", value=(product.id))
                            button.btn(type="submit") Delete

        hr
        .summary
            .total-price.summary-item TOTAL PRICE: $#{totalPrice.toFixed(2)}
            .summary-item
                form.order-form(action="/create-order", method="POST")
                    button.btn.order-btn(type="submit") PROCEED TO ORDER