extends ../layouts/main
block styles
    link(rel="stylesheet", href="/css/shop/cart.css")

block content
    if cart && cart.items && cart.items.length > 0
        .cart
            each item, idx in cart.items
                .cart-item
                    .cart-item-block.product-index
                        h1 #{idx + 1}
                    .vl
                    .cart-item-block.product-image
                        img(src=(item.productId.imageUrl), alt=(item.productId.title))
                    .vl
                    .cart-item-block.product-title
                        h2 #{item.productId.title}
                    .vl
                    .cart-item-block.product-price
                        h2 #{item.quantity}
                            span.cross x
                            span $#{item.productId.price}
                    .vl
                    .cart-item-block.product-total-price
                        h2 $#{(item.productId.price * item.quantity).toFixed(2)}
                    .vl
                    .cart-item-block.product-actions
                        form(action="/cart/delete", method="POST")
                            input(type="hidden", name="id", value=(item.productId.id))
                            button.btn(type="submit") Delete

        hr
        .summary
            .total-price.summary-item TOTAL PRICE: $#{totalPrice.toFixed(2)}
            .summary-item
                form.order-form(action="/create-order", method="POST")
                    button.btn.order-btn(type="submit") PROCEED TO ORDER