extends ../layouts/main
block styles
    link(rel="stylesheet", href="/css/shop/cart.css")

block content
    if orders.length > 0
        each order in orders
            h1 Order ##{order._id}

            if order.items.length > 0
                .cart
                    each item, idx in order.items
                        .cart-item
                            .cart-item-block.product-index
                                h1 #{idx + 1}
                            .vl
                            .cart-item-block.product-image
                                img(src=(item.imageUrl), alt=(item.title))
                            .vl
                            .cart-item-block.product-title
                                h2 #{item.title}
                            .vl
                            .cart-item-block.product-price
                                h2 #{item.quantity}
                                    span.cross x
                                    span $#{item.price}
                            .vl
                            .cart-item-block.product-total-price
                                h2 $#{((item.totalPrice ? item.totalPrice : 0) * item.quantity).toFixed(2)}
                            .vl

                hr
